
  
/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
*/
body { font-family: 'Oswald', sans-serif; }

nav ul a,
nav .brand-logo {
  color: black;
  font-family: 'Kaushan Script', cursive;
 ;}

.nav-wrapper  {
  padding: 0 50px;
 }

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: orange;
  
}
 
 
.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
 .parallax-container .section {
  width: 100%;
 } 
  .section-intro {
    height: 100%;
    width: 100%;
  }

.header {margin-top: 15%;}

.header-subtitle {margin-top: 10%;
font-size: 1.3em; }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;


  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
    #index-banner .section {
    top: 0;
  
  }
 .nav-wrapper  {
  padding: 0 10px;
  
 }



}


.col-servizio { margin-top: 60px;
margin-bottom: 100px; }

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

#servizio h4 {font-size: 1.3em;
line-height: 1.6em;}

.section-registrazione {
  width: 100%;
  height: 100%;
}

.registrazione-icon { 
  font-size: 7em;
margin-top: 60px; }

.registrazione-subtitle {
  font-size: :1.3em:
  margin-top: 5%;
}

.btn-registrazione {width: 100%;}


.info-icon { 
  font-size: 7em;
margin-top: 60px; }

.info-subtitle {
  font-size: :1.3em:
  margin-top: 5%;
  line-height: 2em;
}

.btn-info {width: 100%;}


footer.page-footer {
  margin: 0;
  background-color:  #003049;
}

/*||||||| effetto icon ||||||||*/

.iclass:hover {
   
}


/*||||||||| Effetto icon |||||||*/

.tornasu img { width: 3%;
    position: fixed; 
    bottom:20px;
    right:20px;
    border: none;

  transition: background .25s linear; 

  }

.social-icon i {
  font-size: 1.5em;
  color: #fff;
  padding: 0 20px;

/*|| effetto icon ||*/
  -webkit-transition: all 250ms ease-in-out;
    -moz-transition: all 250ms ease-in-out;
    -ms-transition: all 250ms ease-in-out;
    -o-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;

}

.social-icon:hover i {
color: orange;

 -webkit-transform: scale(1.1,1.1);
    -moz-transform: scale(1.1,1.1);
    -o-transform: scale(1.1,1.1);
    -ms-transform: scale(1.1,1.1);
    transform: scale(1.1,1.1);
/*|| Fine Effetto icon||*/
}

.copy {
  font-size: 1.0em;
  color: white;
}
.copy:hover {
  color: orange;
}
